# --- JetBrains / IntelliJ / PyCharm ---
.idea/
*.iml
*.iws
*.ipr

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so

# --- Environments ---
.env
venv/
env/

# --- Mac OS (if you or teammates use Mac) ---
.DS_Store