# --- JetBrains / IntelliJ / PyCharm ---
.idea/
*.iml
*.iws
*.ipr

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
*.pkl

# --- Environments ---
.env
venv/
env/

# --- Mac OS (if you or teammates use Mac) ---
.DS_Store
evolution_state.pkl
results/avg_fitness.png
results/heatmap.png
results/paths.png
